<!-- <div *ngIf="alert" role="alert" [ngClass]="alertClasses">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 shrink-0 stroke-current"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path [attr.d]="iconPath" />
  </svg>
  <span>{{ alert?.message }}</span>
</div> -->

<div *ngIf="alert" class="toast toast-top toast-end">
  <div class="alert alert-success">
    <span class="text-white">{{ alert?.message }}</span>
  </div>
</div>


